{% extends "base.html.twig" %}
{% block body %}
  <h4>Stats</h4>

  <div class="row mb-4">
    <div class="col-4">
      <div class="card card-stats">
        <div class="card-body">
          <b>{{ stats.watchCount }}</b>
          <p class="mb-0">Watched</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card card-stats">
        <div class="card-body">
          <b>{{ stats.bannedCount }}</b>
          <p class="mb-0">Banned</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card card-stats">
        <div class="card-body">
          <b>{{ stats.summarizedCount }}</b>
          <p class="mb-0">Summarized</p>
        </div>
      </div>
    </div>
  </div>

  <h4 class="mb-0">Links</h4>
  <p class="mb-2">
    Generated links.
  </p>
  <table class="table table-striped table-bordered table-hover mb-5">
    <tbody>
    {% for link in links %}
      <tr>
        <td>{{ link.community }}</td>
        <td>
          <a href="{{ link.url }}" target="_blank" rel="noreferrer noopener">{{ link.url }}</a>
        </td>
        <td class="collapsed">
          {{ link.createdAt|date('Y-m-d H:i:s') }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
