{% extends "base.html.twig" %}
{% block head %}
  <style>
    .card a {
      text-decoration: none;
    }

    .card-pre {
      white-space: pre-wrap;
      overflow-x: hidden;
      margin-bottom: 0;
    }

    .card h6 {
      font-size: 1.2rem;
    }
  </style>
{% endblock %}
{% block body %}
  <h4>Stats</h4>

  <div class="row mb-4">
    <div class="col-3">
      <div class="card card-stats">
        <div class="card-body">
          <b>{{ stats.runCount }}</b>
          <p class="mb-0">Started</p>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card card-stats">
        <div class="card-body">
          <b>{{ stats.watchCount }}</b>
          <p class="mb-0">Runs</p>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card card-stats">
        <div class="card-body">
          <b>{{ stats.bannedCount }}</b>
          <p class="mb-0">Banned</p>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card card-stats">
        <div class="card-body">
          <b>{{ stats.summarizedCount }}</b>
          <p class="mb-0">Summarized</p>
        </div>
      </div>
    </div>
  </div>

  <h4>Generated Links</h4>

  <div>
    {% for link in links %}
      <div class="card mb-3">
        <div class="card-body pb-0 d-flex justify-content-between">
          <div class="d-flex flex-column">
            <h6 class="mb-0">{{ link.community }}</h6>
            <a href="{{ link.url }}" target="_blank" rel="noreferrer noopener">{{ link.url }}</a>
          </div>
          <div>
            {{ link.createdAt|date('l, M jS Y, g:ma') }}
          </div>
        </div>
        <div class="card card-pre px-2 m-3">
{{ link.markdown }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
